# Исключение виртуальных окружений
venv/
env/
.myenv/

# Исключение настроек IDE
.idea/
.vscode/

# Исключение скомпилированных файлов
__pycache__/
*.py[cod]

# Исключение временных файлов и логов
*.log
*.tmp

# Системные файлы macOS и Windows
.DS_Store
Thumbs.db
